﻿@model WebApplication1.ViewModel.BMIData
    {
    ViewBag.Title = "Index";
}
<h2>BMI計算</h2>
<form action="/BMI/Index" method="post">
    <p>
        @Html.DisplayNameFor(a => a.Height)
        @Html.TextBoxFor(d => d.Height) 公分
        @Html.ValidationMessageFor(h => h.Height)<br />
    </p>
    <p>
        @Html.DisplayNameFor(a => a.Weight)
        @Html.TextBoxFor(d => d.Weight)  公斤
        @Html.ValidationMessageFor(h => h.Weight)<br />
    </p>
    <p><input type="submit" name="name" value="送出" /></p>
</form>
<p>計算結果:@Model.Result</p>
<p>等級:@Model.Level</p>