﻿
@{
    ViewBag.Title = "Html";
}

<h2>Html</h2>

<p> 姓名: <input type="type" name="name" value="" /></p>
<p> 帳號: <input type="type" name="name" value="" /></p>
<p> 密碼: <input type="type" name="name" value="" /></p>
<p>
    性別: 
    <input type="radio" name="gender" value="A" />BOY
    <input type="radio" name="gender" value="B" />GIRL
</p>
<p>
    興趣: 
    <input type="checkbox" name="h-1" value="A" />打球
    <input type="checkbox" name="h-1" value="A" />玩手機
</p>
<p> 關於我:<textarea></textarea> </p>