﻿
@{
    ViewBag.Title = "Html helper";
}

<h2>Htmlhelper</h2>

<p> 姓名: @Html.TextBox("username","Johannes")</p>
<p> 帳號: @Html.TextBox("account") </p>
<p> 密碼: @Html.Password("password")</p>
<p>
    性別:
    @Html.RadioButton("gender", "A") BOY
    @Html.RadioButton("gender", "B") GIRL
</p>
<p>
    興趣:
    @Html.CheckBox("habby-1", "A") 打球
    @Html.CheckBox("habby-2", "B") 玩手機
</p>
<p> 關於我: @Html.TextBox("about") </p>

@*<p> 姓名: <input type="type" name="name" value="" /></p>
    <p> 帳號: <input type="type" name="name" value="" /></p>
    <p> 密碼: <input type="type" name="name" value="" /></p>
    <p>
        性別:
        <input type="radio" name="gender" value="A" />BOY
        <input type="radio" name="gender" value="B" />GIRL
    </p>
    <p>
        興趣:
        <input type="checkbox" name="h-1" value="A" />打球
        <input type="checkbox" name="h-1" value="A" />玩手機
    </p>
    <p> 關於我:<textarea></textarea> </p>*@